---
Diagnostics:
  ClangTidy:
    Remove:
      - readability-identifier-naming
    CheckOptions:
      readability-identifier-naming.IgnoreMainLikeFunctions: true

CompileFlags:
  Add: [-Wall, -Wextra]
